// custom
$background:        #12101d;
$background-alt:    #2e3440;
$foreground:        #e6e6fa;

$black:             #12101d;
$gray:              #455a64;
$white:             #e6e6fa;
$cyan:              #2cbacd;
$magenta:           #d61d8f;
$yellow:            #e9de66;
$red:               #f55145;
$blue:              #37a0f6;
$orange:            #f5c943;
$purple:            #922e92;
$green:             #87bf48;
