$background:  #111111;
$background-alt:  #2e3440;
$foreground:  #ddddff;

$black: #333333;
$red: #ff7777;
$green: #77dd77;
$yellow: #ffff77;
$blue: #7777ff;
$magenta: #ff77ff;
$cyan: #77ffff;
$white: #eeeeee;

$bright-black: #444444;
$bright-red: #ff4477;
$bright-green: #77dd44;
$bright-yellow: #ffff44;
$bright-blue: #4477ff;
$bright-magenta: #ff44ff;
$bright-cyan: #44ffff;
$bright-white: #ffffff;