$background:  #1e2127;
$background-alt:  #2e3440;
$foreground:  #d8dee9;

$black:  #3b4252;
$red:  #bf616a;
$green:  #a3be8c;
$yellow:  #ebcb8b;
$blue:  #81a1c1;
$magenta:  #b48ead;
$cyan:  #88c0d0;
$white:  #abb2bf;

$bright-black:  #5c6370;
$bright-red:  #e06c75;
$bright-green:  #98c379;
$bright-yellow:  #d19a66;
$bright-blue:  #61afef;
$bright-magenta:  #c678dd;
$bright-cyan:  #56b6c2;
$bright-white:  #eceff4;