// Tokyo Night
$background: #11121d;
$foreground: #a9b1d6;

$black: #414868;
$red: #f7788f;
$green: #9dce69;
$yellow: #e0af67;
$blue: #78a0f7;
$magenta: #bc9cf7;
$cyan: #80d0ff;
$white: #a9b1d6;

$bright-black: #444b6a;
$bright-red: #ff7a93;
$bright-green: #baf27d;
$bright-yellow: #ff9e66;
$bright-blue: #80a8ff;
$bright-magenta: #bc9cf7;
$bright-cyan: #0dbad9;
$bright-white: #adb2d1;